[submodule "data"]
	path = data
	url = git@codeup.aliyun.com:61adcb80e05da4a409ab67b8/intellif/debug_video_data.git
	branch = master
[submodule "src/extern/json_struct"]
	path = src/extern/json_struct
	url = https://github.com/jorgen/json_struct.git
	branch = master
[submodule "src/extern/vision_opencv"]
	path = src/extern/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = rolling
[submodule "src/extern/rosboard"]
	path = src/extern/rosboard
	url = https://github.com/dheera/rosboard.git
	branch = main
[submodule "src/extern/RedoxiTrack"]
	path = src/extern/RedoxiTrack
	url = https://github.com/CodeGandee/RedoxiTrack.git
	branch = main

[submodule "src/extern/PassengerFlow"]
	path = src/extern/PassengerFlow
	url = git@codeup.aliyun.com:61adcb80e05da4a409ab67b8/intellif/PassengerFlow.git
	branch = master
